<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Degree Days</title>

    <link href="../media/styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="scrollbox">
      <div class="textbox">

        <header>
          <br />
          <h1>Download Degree Days CSV</h1>
          <br />
        </header>

        <form>
        <p>From: (start year, inclusive)</p> 
        <input type="text" name="start_year">
        <br />
        <p>To: (end year, inclusive)</p>
        <input type="text" name="end_year">
        </form>

  </body>
</html>