[submodule "hugo-arendesai.com/themes/mainroad"]
	path = hugo-arendesai.com/themes/mainroad
	url = https://github.com/Vimux/Mainroad.git
[submodule "hugo-arendesai.com/themes/cactus"]
	path = hugo-arendesai.com/themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
