[submodule "hugo-arendesai.com/themes/Hugo-Octopress"]
	path = hugo-arendesai.com/themes/Hugo-Octopress
	url = https://github.com/parsiya/Hugo-Octopress
[submodule "hugo-arendesai.com/themes/hello-friend-ng"]
	path = hugo-arendesai.com/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "hugo-arendesai.com/themes/mainroad"]
	path = hugo-arendesai.com/themes/mainroad
	url = https://github.com/Vimux/Mainroad.git
