Body {
    /* background-image: url("./paper.jpg");
    background-size: cover; */
    color: white;
}

strong {
  color: #6F4E37;
}

b {
  color: #6F4E37;
}

a {
  color: #008000 ; /* Default color */
  text-decoration: none; /* Remove underline by default */
}

a:hover {
  color: #013220; /* Change color on hover */
  text-decoration: underline; /* Add underline on hover, if you want */
}
