<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Degree Days</title>

    <link href="../media/styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="scrollbox">
      <div class="textbox">

        <a href=".."><button class="linkbutton"><u>arendesai.com</u></button></a>

        <header>
          <br />
          <h1>Download Degree Days CSV</h1>
          <br />
        </header>

        <form method="post" action="{% url 'download_csv' %}">
        <p>From: (start year, inclusive)</p> 
        <input type="text" name="start_year">
        <br />
        <p>To: (end year, inclusive)</p>
        <input type="text" name="end_year">
        <br />
        <br />
        <p>Select Type:</p>
        <p>
        <label for="heating">Heating</label>
        <input type="radio" id="heating" name="type" value="Heating" checked>
        <label for="cooling">Cooling</label>
        <input type="radio" id="cooling" name="type" value="Cooling">
        </p>
        <br />
        {% csrf_token %}
        <h4><button class="downloadbutton" type="submit">Download CSV</button></h4>
        </form>
        <p>(This may take 1-2 minutes to load)</p>
        <br />
        <h2>Explanation</h2>
        <p>Data taken from <a href="https://www.cpc.ncep.noaa.gov/products/analysis_monitoring/cdus/degree_days/">the Climate Prediction Center</a>, from the 1997-current archives. 
        The code finds the monthly sum of the selected degree days (heating or cooling) by region (states, or USA total), and sums them into a yearly column and deviation column. Here's the code used:</p>
        <form method="post" action="{% url 'download_aquire_csv' %}">
          {% csrf_token %}
          <h4><button class="downloadbutton" type="submit">Download Code (Python)</button></h4>
        </form>
  
      </div>
    </div>

  </body>
</html>