<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Photography</title>

    <link href="../media/styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="scrollbox">
      <div class="textbox">

        <a href=".."><button class="linkbutton"><u>arendesai.com</u></button></a>

        <header>
          <br />
          <h1>aren's photography</h1>
          <br />
        </header>

        <a href="../media/IMG_8649.JPG"><button class="linkbutton">bird</button></a>
        <a href="../media/IMG_8671.JPG"><button class="linkbutton">duck1</button></a>
        <a href="../media/IMG_8698.JPG"><button class="linkbutton">duck2</button></a>
        <a href="../media/IMG_8709.JPG"><button class="linkbutton">duck3</button></a>

  
      </div>
    </div>

  </body>
</html>