<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Portfolio</title>

    <link href="../media/styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="scrollbox">
      <div class="textbox">

        <a href=".."><button class="linkbutton"><u>arendesai.com</u></button></a>

        <header>
          <br />
          <h1>aren's portfiolio</h1>
          <br />
        </header>
        <p>I suggest checking out my capstone internship project.</p>

        <a href="../media/akdesai_cv.pdf"><button class="linkbutton">Aren's CV</button></a>
        <br />
        <a href="../media/akdesai_resume.pdf"><button class="linkbutton">Aren's Resume</button></a>
        <br />
        <a href="https://github.com/ArenKDesai"><button class="linkbutton">Aren's GitHub</button></a>
        <br />
        <a href="../media/MarketSimDocs.md"><button class="linkbutton">Capstone Internship Project - Hourly Dispatch Optimization @ MGE</button></a>
        <p>Since MGE cannot publically share code, I'll attach the documentation, which includes a description of what the project does.</p>
        <br />
        <a href="../media/akdesaia_finalproj.pdf"><button class="linkbutton"><u>GPU Similarity vs Performance</u></button></a>
        <p>
        A thorough exploration of similarity in GPUs spanning multiple decades. Includes PCA, K-NN, K-Means, and spectral clustering, as well as various statistical descriptions of the dataset.
        <br />
        (applied multivatiate analysis // stats 456)
        </p>
        <br />
  
      </div>
    </div>

  </body>
</html>