<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">

    {{- if .Params.image -}}
    <meta property="og:image" content="{{ .Params.image }}">
    {{- end }}

    <style>
        body {
            background-color: #AA0000; /* Replace with your desired color */
            /* Or for a background image: */
            /* background-image: url("path/to/your/image.jpg"); */
            /* background-size: cover;  Adjust as needed */
            /* background-repeat: no-repeat; */
        }
    </style>
</head>